@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
}

aside{
  background-color: rgb(255, 38, 0);
  width: 1200px, 1700px;
  
}
main{
  
  background-color: aqua;
  width: 204px;
  margin: 20px  55px 20px 50px;
  display: inline-block;
}
main article {
  width: 200px;
  height: 200px; 
  background-color: bisque;
  border-radius: 50%;
}
nav{
  background-color: #FF1744;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}



div{
  display: inline-block;
  background-color: #008CFF;
  margin: 40px 60px 10px 120px ;
}
div article{
  width: 200px;
  height: 200px;
  background-color: bisque;
  display: inline-block;
  border-radius: 50%;
  
  padding: 40px;
}
footer{
  display: inline-block;
  background-color: #008CFF;
  margin: 40px 60px 10px 85px ;
}
footer h1 {
  width: 120px;
  height: 500px;
  background-color: bisque;
  display: inline-block;
  vertical-align: top;
  margin: 20px 30px 10px 40px ;
  
padding: 40px;
}
aside footer h1 section {
  width: 150px;
  height: 150px;
  background-color: rgb(228, 195, 7);
  margin: 0px 0px 30px -15px ;
  
}

aside footer h1 aside {
  width: 150px;
  height: 500px;
  background-color: rgb(7, 228, 7);
  border-radius: 50%;
  margin: 0px 0px 0px -10px ;
  
}
aside footer h1 main {
  width: 150px;
  height: 150px;
  background-color: rgb(228, 7, 7);
  border-radius: 50%;
  margin: 0px 0px 30px -10px ;
}
.active{
  background-color: rgb(17, 2, 228);
}



